input {
	border: none;
	outline: none;
}

.search {
	border-radius: 10px;
	border: 1px solid black;
	padding-left: 0.5%;
	padding-right: 0.5%;
	padding-top: 0.25%;
	padding-bottom: 0.25%;
	transition: all .5s linear;
}

#table {
	overflow-x: auto;
}

.textbox {
	width: 80%;
}

.fgtext {
	background-color: black;
	color: white;
}

.bootstrap-tagsinput {
  display: inline-block;
  width: 50%;
}