input {
	border: none;
	outline: none;
	background-color: #E1E1E1;
}

.titlesearch {
	/*margin-left: 1.5%;*/
	padding-bottom: 0.75%;
}

.title {
	font-size: 300%;
	font-weight: 600;
}

.category {
	font-size: 150%;
	font-weight: 600;
	padding-left: 1.5%;
}
.search {
	border-radius: 10px;
	border: none;
	background-color: #E1E1E1;
	/*padding-left: 0.5%;*/
	/*padding-left: 0.5%;
	padding-right: 0.5%;
	padding-top: 0.25%;
	padding-bottom: 0.25%;*/
	font-size: 300%;
	transition: all .5s linear;
	/*margin-right: 1.5%;*/

}

#table {
	overflow-x: auto;
	padding-top: 0.5%;
	padding-left: 1.5%;
}

.fgtext {
	background-color: black;
	color: white;
}

.bootstrap-tagsinput {
  display: inline-block;
  /*white-space: nowrap;
  overflow: scroll;*/
  background: #E1E1E1;
  padding: 0;

}

.bootstrap-tagsinput input {
  background: white;/*#E1E1E1;*/
  width: 100%;
  padding: 0;
}

.bootstrap-tagsinput .tag {
  background: #87888C;
}

.line {
	border-top: 1px solid black;
}

.foodgroups {
	padding-top: 0.5%;
	margin-left: 1.5%;
}