input {
	border: none;
	outline: none;
}

.search {
	border-radius: 10px;
	border: 1px solid black;
}

#table {
	overflow-x: auto;
}

.fruits {
	background-color: black;
	color: white;
}

.typing {
	overflow-x: auto;
}

input[type=text] {
	overflow: visible;
}